/*media */
$max-lg: '(max-width: 1199.98px)';
$max-xs: '(max-width: 575.98px)';
$max-sm: '(max-width: 767.98px)';
$max-md: '(max-width: 991.98px)';

/*Color Variables*/

$bg-color: #000000;
$header-shadow-color: #d6ac76;

/*Font Variables*/
$font-color: #ffffff;
$font-family: Eina03;
$font-size-header: 13px;
$font-size-nav-span: 12px;
$font-weight: normal;
$font-stretch: normal;
$font-style: normal;
$text-center: center;
$input-lineheight: 1.23;
$letter-spacing: normal;

/* px */
$header-icon-width: 32px;
$header-icon-height: 32px;
$header-icon-line-height: 1.33;
$header-icon-letter-spacing: 0.2px;

/* cart-quantity*/
$font-family: Eina03;
$font-size: 13px;
$font-weight-cart-quantity: 600;
$line-height-cart-quantity: 1.54;
$letter-spacing: normal;
$color-cart-quantity: #edb15d;
/*nav menu*/
$font-weight-menu: 600;
$line-height-menu: 1.23;
$letter-spacing-menu: 1.4px;
