$min-lg: '(min-width: 992px)';
$max-lg: '(max-width: 1199.98px)';
$min-xg: '(min-width: 1200px)';

$max-xs: '(max-width: 575.98px)';
$min-sm: '(min-width: 576px)';
$max-sm: '(max-width: 767.98px)';
$min-md: '(min-width: 768px)';
$max-md: '(max-width: 991.98px)';

header {
  background-color: $bg-color;
  color: $font-color;
  box-shadow: inset 0 -2px 0 0 $header-shadow-color;
  top: 0;
  z-index: 3;
  // position: sticky;
}
@media (max-width: 991.98px) {
  header {
    box-shadow: none;
  }
}
header .container-fluid {
  padding: 32px 108px 0 108px;
}

//Extra small devices (portrait phones, less than 576px)
@media (max-width: 767.98px) {
  header .container-fluid {
    padding: 16px 24px 0 24px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header .container-fluid {
    padding: 16px 24px 0 24px;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

header .upper-header .wrapper-item:nth-of-type(3) {
  text-align: right;
}

header .upper-header .wrapper-item:nth-of-type(1) {
  text-align: left;
}

header .upper-header .wrapper-item .item .makeup-artists a span,
header .upper-header .wrapper-item .item .phone a span,
header .upper-header .wrapper-item .item .cart a span,
header .upper-header .wrapper-item .item .account a span {
  margin-top: 4px;
  font-family: Eina03;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.23;
  letter-spacing: 1.4px;
  color: #ffffff;
}
header .upper-header .wrapper-item .item .makeup-artists a,
header .upper-header .wrapper-item .item .phone a,
header .upper-header .wrapper-item .item .cart a,
header .upper-header .wrapper-item .item .account a {
  display: inline-block;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
  &:hover span {
    color: #edb15d;
  }
}

header .upper-header .wrapper-item .item .makeup-artists a span {
  @extend %header_icon;
}

header .upper-header .wrapper-item .item .phone a span {
  @extend %header_icon;
}

header .upper-header .wrapper-item .logo {
  padding-top: 14px;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  header .upper-header .wrapper-item .logo {
    padding-top: 5px;
  }
}

header .upper-header .wrapper-item:nth-of-type(1) .item:nth-of-type(1) {
  // background-color: red !important;
  margin-left: 0;
  position: relative;
}

header .upper-header .wrapper-item:nth-of-type(1) .item:nth-of-type(2) {
  // background-color: red !important;
  margin-left: 23px;
  position: relative;
}
header .upper-header .wrapper-item:nth-of-type(3) .item:nth-of-type(1) {
  padding-right: 47px;
  position: relative;
}
@media (max-width: 575.98px) {
  header .upper-header .wrapper-item:nth-of-type(1) .item:nth-of-type(2) {
    margin-left: 12px;
  }

  header .upper-header .wrapper-item:nth-of-type(3) .item:nth-of-type(1) {
    padding-right: 12px;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 576px) and (max-width: 767.98px) {
  header .upper-header .wrapper-item:nth-of-type(1) .item:nth-of-type(2) {
    margin-left: 25px;
    // padding-right: 20px;
    // padding-left: 20px;
  }
  // header .upper-header .wrapper-item:nth-of-type(1) .item:nth-of-type(1) {
  //   padding-right: 0;
  // }
  header .upper-header .wrapper-item:nth-of-type(3) .item:nth-of-type(1) {
    padding-right: 28px;
    // padding-left: 20px;
  }
}
@media (max-width: 767.98px) {
  header .upper-header .wrapper-item .item .makeup-artists a span,
  header .upper-header .wrapper-item .item .phone a span,
  header .upper-header .wrapper-item .item .cart a span,
  header .upper-header .wrapper-item .item .account a span {
    margin-top: 4px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.2px;
  }
}
// Small devices (landscape phones, 576px and up)
// @media (max-width: 767.98px) {
//   header .upper-header .wrapper-item:nth-of-type(1) .item:nth-of-type(2) {
//     margin-left: 0px;
//     padding-right: 20px;
//     padding-left: 20px;
//   }
//   header .upper-header .wrapper-item:nth-of-type(1) .item:nth-of-type(1) {
//     padding-right: 0;
//   }
//   header .upper-header .wrapper-item:nth-of-type(3) .item:nth-of-type(1) {
//     padding-right: 20px;
//     padding-left: 20px;
//   }
// }

header .upper-header .wrapper-item .item .cart a .assets {
  position: absolute;
  top: -20px;
  left: 6px;
  width: 20px;
  height: 20px;
  // background-color: green !important;
}

//
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  header .upper-header .wrapper-item .item .cart .assets {
    top: -17px;
    left: 26px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767.98px) {
  header .upper-header .wrapper-item .item .cart .assets {
    top: -16px;
    left: 26px;
  }
}

header .upper-header .wrapper-item .item .cart span.cart-quantity {
  // position: absolute;
  top: 2px;
  left: 5px;
  z-index: 2;
  width: 8px;
  height: 20px;
  @extend %cart_quantity;
}
header .upper-header .wrapper-item .item .cart a span {
  @extend %header_icon;
}

header .upper-header .wrapper-item .item .account a span {
  @extend %header_icon;
}

header .upper-header .wrapper-item .item > span:hover {
  color: #edb15d;
  cursor: pointer;
}
// navbar //1224

.navbar {
  padding: 40px 0 28px 0px;
}
//Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .navbar {
    padding: 10px 0;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767.98px) {
  .navbar {
    padding: 13px 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 991.98px) {
  .navbar {
    padding: 15px 0;
  }
}

li.nav-item {
  padding-right: 32px;
}
@media (max-width: 991.98px) {
  li.nav-item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (max-width: 1199.98px) {
  li.nav-item {
    padding-right: 12px;
  }
}

a.nav-link {
  padding: 0;
}
.navbar-dark .navbar-nav .nav-link {
  color: $font-color;
  &:hover {
    color: #edb15d;
  }
}

.menu-group nav ul li.products a {
  @extend %menue_item;
}
.menu-group nav ul li.online-catalogues a {
  @extend %menue_item;
}
.menu-group nav ul li.find-our-stores a {
  @extend %menue_item;
}
.menu-group nav ul li.new-products a {
  @extend %menue_item;
}
.menu-group nav ul li.about-us a {
  @extend %menue_item;
}
.menu-group nav ul li.contact-us a {
  @extend %menue_item;
}
//search
// form {
//   border-bottom: 1px solid #fff;
//   padding-bottom: 2px;
// }

form .input-group {
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
  margin-left: 52px;
}
@media (max-width: 991.98px) {
  form .input-group {
    margin-left: 0px;
  }
}
@media (min-width: 576px) {
  .form-inline .custom-select,
  .form-inline .input-group {
    width: 100%;
  }
}

form input[type='text'] {
  width: 192px;
  height: 16px;
  font-stretch: $font-stretch;
  font-style: $font-style;
  line-height: $input-lineheight;
  background-color: $bg-color;
  color: $font-color;
  border: none;
  outline: none;
  &:focus {
    background-color: $bg-color;
    box-shadow: none;
    outline: none;
  }
}
form .input-group input::placeholder {
  opacity: 0.4;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  font-stretch: $font-stretch;
  font-style: $font-style;
  line-height: $input-lineheight;
  letter-spacing: $letter-spacing;
  color: $font-color;
}
form .input-group .input-group-text {
  background-color: $bg-color;
  padding: 0;
  border: none;
}

.custom-toggler.navbar-toggler:hover {
  border-color: #edb15d;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 250, 250, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

header button:focus {
  outline: none;
}
